/*RESET RULES*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,ol, menu {
    list-style: none;
}

img {
    max-width: 100%;
}

/*LAYOUT RULES*/

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-50 {
    width: 50%;
}

.col-25 {
    width: 25%;
}

/*DEBUG*/

.debug .container {
    border: 2px solid rgb(227, 45, 87);
    padding: 10px;
}

.debug .row {
    border: 2px solid rgb(147, 147, 147);
    padding: 10px;
}

.debug .column {
    border: 2px solid black;
    padding: 10px;
}

/*STYLES*/

.background-blue {
    background-color: rgb(151, 255, 255);
}

.background-pink {
    background-color: rgb(248, 168, 255);
}

