/*RESET RULES*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,ol, menu {
    list-style: none;
}

img {
    max-width: 100%;
}

/*LAYOUT RULES*/

.container {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-25 {
    width: 25%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-100 {
    width: 100%;
}

.row-header {
    justify-content: center;
}

.row-inverted {
    flex-direction: row-reverse;
}

/*DEBUG*/

.debug .container {
    border: 2px solid rgb(227, 45, 87);
    padding: 10px;
}

.debug .row {
    border: 2px solid rgb(147, 147, 147);
    padding: 10px;
}

.debug .column {
    border: 2px solid black;
    padding: 10px;
}

.debug .col-header {
    min-height: 200px;
}

.debug .col-main {
    min-height: 300px;
}

.debug .col-bottom {
    min-height: 500px;
}

/*STYLES*/

.background-blue {
    background-color: rgb(151, 255, 255);
}

.background-pink {
    background-color: rgb(248, 168, 255);
}

.background-purple {
    background-color: rgb(179, 64, 214);
}

.background-darkblue {
    background-color: rgb(29, 62, 146);
}

.background-grey {
    background-color: rgb(218, 218, 218);
}

.background-orange {
    background-color: rgb(252, 142, 57);
}

.background-yellow {
    background-color: rgb(252, 229, 57);
}

.background-red {
    background-color: rgb(239, 80, 59);
}

.background-green {
    background-color: rgb(139, 232, 96);
}