/*RESET RULES*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,ol, menu {
    list-style: none;
}

img {
    max-width: 100%;
}

/*LAYOUT RULES*/

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/*DEBUG*/

.debug .container {
    border: 5px solid black;
    padding: 20px;
    background-color: aqua;
}

.debug .row {
    border: 5px solid black;
    padding: 20px;
    background-color: blue;
}

